.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-link:hover {
    color: #0d6efd !important; /* Bootstrap primary color */
}

.dropdown-menu {
    transition: 0.3s ease-in-out;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #0d6efd;
}

.navbar-toggler:hover {
    border-color: #ffffff;
    box-shadow: 0 0 5px white;
}

.btn-danger{
    padding-left: 30px !important;
    padding-right: 30px !important;
}
